<!-- 
<h2>Date: {{date | date: 'dd/MM/yy'}}</h2>
<p>Prix: {{ 42.42 | currency:'EUR':'symbol':'1.0-2' }}</p> -->


<div class="product-list">
    @for(product of products; track product.name){
        <app-product-item [product]="products[0]">  </app-product-item>
        <app-product-item [product]="products[1]">  </app-product-item>
        <app-product-item [product]="products[2]">  </app-product-item>
        <app-product-item [product]="products[3]">  </app-product-item>

    }
</div>

<!--  -->