<!-- 
<h2>Date: {{date | date: 'dd/MM/yy'}}</h2>
<p>Prix: {{ 42.42 | currency:'EUR':'symbol':'1.0-2' }}</p> -->


<div> Table: {{products  }} </div>  //creer une pipe en json pour afficher les objets 
<div class="product-list">
    <app-product-item [product]="products[0]">  </app-product-item>
    <!-- <app-product-item>  </app-product-item>
    <app-product-item>  </app-product-item>
    <app-product-item>  </app-product-item>
    <app-product-item>  </app-product-item>
    <app-product-item>  </app-product-item>
    <app-product-item>  </app-product-item>   
     <app-product-item>  </app-product-item>
    <app-product-item>  </app-product-item>
    <app-product-item>  </app-product-item> -->


</div>